<%= form_with(model: tag, local: true) do |f| %>

  <div class="form-group mb-3 col-sm-7 form_magrin">
    <%= f.label :name, class: "form-label"%>
    <%= f.text_field :name, class: "form-control "%>
  </div>
  <div class ='form_btn'>
    <%= f.submit '作成', class: 'btn btn-primary'%>
  </div>
<%end%>
