<div class= "center-align">
<h1 class="tops_index_title teal-text text-darken-4">家計簿＋予定表</h1>
<div class="tops_index_btn_container">
<%= link_to "新規登録", new_user_registration_path, class: "topsindexbtn waves-light waves-effect  btn-large teal-text text-darken-4"%>
<%= link_to "ログイン", new_user_session_path, class: "topsindexbtn waves-light waves-effect  btn-large teal-text text-darken-4"%>
</div>
