<h1>ユーザー検索</h1>
<%= search_form_for @q, url: graph_days_path do |f| %>
  <%= f.label :start_time_during_year, "数値を入力してください" %>
  <%= f.search_field :start_time_during_year %>
  <%= f.submit '検索' %>
<% end %>
