<h2 class="form_magrin">タグ一覧</h2>

<div class="col-8 table_magrin ml-3 fs-3">
<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @tags.each do |tag| %>
  <tbody>
    <tr>
      <td><%= tag.name %></td>
      <td><%= link_to '編集', edit_tag_path(tag.id), class: "btn btn-primary" %></td>
      <td><%= link_to '削除', tag_path(tag.id), data: { turbo_method: :delete}, class: "btn btn-danger" %></td>
    </tr>
  </tbody>
  <% end %>
</table>
</div>
<%= link_to  "タグ作成",  new_tag_path, class: "text-decoration-none btn btn-warning mt-4 fs-5  d-inline-block form_btn" %>
